@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

/* a,
a:link,
a:visited,
a:active,
a:hover,
button,
input,
select,
textarea,
i {
    text-decoration: none;
    outline: none;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    color: rgb(var(--purple));
} */

input,
select,
textarea {
    width: 100%;
    outline: none;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    box-shadow: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

:root {
    scrollbar-width: thin !important;
}

.comn-title {}

.sub-title {}

.comn-padding {}

.desc {}

.btn {}

.btn:hover {}



.hero_info_3 {
    color: #45ef52;
}

.hero_info_3>img {
    filter: brightness(0) saturate(100%) invert(95%) sepia(30%) saturate(5827%) hue-rotate(52deg) brightness(100%) contrast(88%);
}

.hero_info_1 {
    top: 70px;
    color: #bf55e6;
}

.hero_info_1>img {
    filter: brightness(0) saturate(100%) invert(54%) sepia(47%) saturate(6935%) hue-rotate(255deg) brightness(96%) contrast(87%);
}

.hero_info_2 {
    top: 160px;
    right: 30px;
}

.main_hero_box {
    width: 100%;
    height: 112% !important;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
}

.main_hero_box>img {
    width: 100%;
    height: 100% !important;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
}

hr {
    border-color: #e9e9e9 !important;
}

.hero_text {
    font-size: 55px;
}

.input_btn_size {
    font-size: 14px !important;
}

.hero_info_4 {
    color: #46a2e3;
}

.hero_info_4>img {
    filter: brightness(0) saturate(100%) invert(69%) sepia(98%) saturate(1977%) hue-rotate(177deg) brightness(85%) contrast(111%);
}

.hero_info_5 {
    color: #e3364e;
}

.hero_info_5>img {
    filter: brightness(0) saturate(100%) invert(40%) sepia(71%) saturate(899%) hue-rotate(311deg) brightness(83%) contrast(119%);
}

.hero_info_2 {
    color: #2748b0;
}

.hero_info_2>img {
    filter: brightness(0) saturate(100%) invert(22%) sepia(58%) saturate(2859%) hue-rotate(218deg) brightness(88%) contrast(91%);
}

.hero_info_7 {
    bottom: 216px !important;
}

.mochidden {
    display: none !important;
}

.cumodal {
    position: fixed;
    inset: 0 0 0 0;
    height: 100%;
    z-index: 10000000000;
    background: rgb(0 0 0 / 60%);
    padding: 0;
    justify-content: center;
    align-items: center;
    margin: auto;
    overflow: auto;
    height: 100vh;
}

.min-height-100vh {
    min-height: 100vh;
}

.modal-contianer {
    padding: 30px;
    background-color: #ffffff;
    min-width: 600px;
    max-width: 700px;
    border-radius: 20px;
    text-align: left;
}

.closebtn {
    position: absolute;
    top: 14px;
    right: 18px;
}

.servi-list-table {
    width: 100%;
}

.servi-list-table td:first-child {
    white-space: nowrap;
    padding-right: 20px;
}

.servi-list-table td {
    vertical-align: top;
    padding-top: 8px;
    padding-bottom: 8px;
}

.title-modal {
    font-weight: 700;
}

#testionial.swiper-horizontal {
    padding-bottom: 50px;
    padding-top: 10px;
}

.mobile_view {
    display: none;
}


.hero_info_1,
.hero_info_2,
.hero_info_7,
.hero_info_4,
.hero_info_5,
.hero_info_3 {
    margin-bottom: 20px;
    color: #000;
    border: 1px dashed #afacac;
    background: radial-gradient(#ffffff, #e7f0ff);
    padding: 10px 36px;
}

.hero_info_1>img,
.hero_info_2>img,
.hero_info_7>img,
.hero_info_4>img,
.hero_info_5>img,
.hero_info_3>img {
    filter: unset;
}

@media screen and (max-width: 991px) {
    .hero_info_1 {
        top: 200px;
    }

    .hero_info_5 {
        bottom: 40px !important;
    }

    .text-xl {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 768px) {
    .hero_info_2 {
        top: 146px;
        left: 30px;
        right: unset;
    }

    .hero_info_4 {
        bottom: unset !important;
        left: unset !important;
        left: 30px !important;
        top: 210px;
    }

    .hero_info_1 {
        top: 280px;
    }

    .hero_info_5 {
        bottom: -53px !important;
    }

    .image-hero-box {
        display: none;
    }

    .modal-contianer {
        min-width: 100%;
    }

    .servi-list-table td {
        display: block;

    }

    .nav-sticky {
        padding: 12px 0;
    }

    .hero_text {
        font-size: 36px;
        line-height: 56px;
    }
}


@media screen and (min-width: 991px) {
    .text-32 {
        font-size: 24px;
        line-height: 30px;
    }
}

@media screen and (max-width: 1280px) {
    .image-hero-box {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .center-circle-img {
        display: none;
    }

    .hero_info_1,
    .hero_info_2,
    .hero_info_7,
    .hero_info_4,
    .hero_info_5,
    .hero_info_3 {
        position: relative;
        left: unset !important;
        top: unset !important;
        bottom: unset !important;
        right: unset !important;
        margin-bottom: 20px;
        color: #000;
        font-size: 16px;
        padding: 10px 15px;
        max-width: 600px;
    }

    .hero_info_1>img,
    .hero_info_2>img,
    .hero_info_7>img,
    .hero_info_4>img,
    .hero_info_5>img,
    .hero_info_3>img {
        filter: unset;
    }

    h2 {
        font-size: 26px;
    }

    .desktop_view {
        display: none;
    }

    .mobile_view {
        display: block;
    }
}